In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import scipy as sp
import scipy.stats as stats
from sklearn.preprocessing import *

In [3]:
#making df
np.random.seed(10)

df_wide = pd.DataFrame(
    {"C1prd1" : {0 : "a", 1 : "b", 2 : "c"},
    "C1prd2" : {0 : "d", 1 : "e", 2 : "f"},
    "C2prd1" : {0 : 2.5, 1 : 1.2, 2 : .7},
    "C2prd2" : {0 : 3.2, 1 : 1.3, 2 : .1},
    "value" : dict(zip(range(3), np.random.randn(3)))}

)
df_wide["no"] = df_wide.index

df_wide

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C1prd1</th>
      <th>C1prd2</th>
      <th>C2prd1</th>
      <th>C2prd2</th>
      <th>value</th>
      <th>no</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>a</td>
      <td>d</td>
      <td>2.5</td>
      <td>3.2</td>
      <td>1.331587</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>b</td>
      <td>e</td>
      <td>1.2</td>
      <td>1.3</td>
      <td>0.715279</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>c</td>
      <td>f</td>
      <td>0.7</td>
      <td>0.1</td>
      <td>-1.545400</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
# (1) pd.wide_to_long()
# stubnames = 컬럼명 앞글자
# suffix = 컬럼명 뒷글자
# i = index1
# j = index2 : 실제 데이터가 들어감

df_long = pd.wide_to_long(df_wide, stubnames=["C1", "C2"], 
                          suffix=["prd1", "prd2"],
                          i="no", j="prd")
df_long

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>value</th>
      <th>C1</th>
      <th>C2</th>
    </tr>
    <tr>
      <th>no</th>
      <th>prd</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <th>prd1</th>
      <td>1.331587</td>
      <td>a</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>1</th>
      <th>prd1</th>
      <td>0.715279</td>
      <td>b</td>
      <td>1.2</td>
    </tr>
    <tr>
      <th>2</th>
      <th>prd1</th>
      <td>-1.545400</td>
      <td>c</td>
      <td>0.7</td>
    </tr>
    <tr>
      <th>0</th>
      <th>prd2</th>
      <td>1.331587</td>
      <td>d</td>
      <td>3.2</td>
    </tr>
    <tr>
      <th>1</th>
      <th>prd2</th>
      <td>0.715279</td>
      <td>e</td>
      <td>1.3</td>
    </tr>
    <tr>
      <th>2</th>
      <th>prd2</th>
      <td>-1.545400</td>
      <td>f</td>
      <td>0.1</td>
    </tr>
  </tbody>
</table>
</div>