In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import scipy as sp
import scipy.stats as stats
from sklearn.preprocessing import *

In [ ]:
"""
np.digitize(), np.where() 를 이용한 연속형 변수의 이산형화(discretization)

np.digitize(data, bins)
np.where(condition, factor1, factor2, ..)

이항변수화(binarization)는 '0'과 '1'의 값만을 가지는 
가변수(dummy variable)를 만드는 것 

이산형화(discretization)은 연속형 변수를 
2개 이상의 범주(category)를 가지는 변수로 변환하는 것

ex) 성적  등급
    ~90    A
    ~80    B
    ~70    C
    ~60    D
    <60    F

"""

In [39]:
# setting random seed
np.random.seed(10)

# making df 
df = pd.DataFrame(
    {
        "score": np.random.randint(1, 101, 20),
        "group": ["red", "red", "red", "red", "red", 
                  "red", "red", "red", "red", "red", 
                  "blue", "blue", "blue", "blue", "blue",
                  "blue", "blue", "blue", "blue", "blue"]
    }
)
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>group</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>red</td>
      <td>10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>red</td>
      <td>16</td>
    </tr>
    <tr>
      <th>2</th>
      <td>red</td>
      <td>65</td>
    </tr>
    <tr>
      <th>3</th>
      <td>red</td>
      <td>29</td>
    </tr>
    <tr>
      <th>4</th>
      <td>red</td>
      <td>90</td>
    </tr>
    <tr>
      <th>5</th>
      <td>red</td>
      <td>94</td>
    </tr>
    <tr>
      <th>6</th>
      <td>red</td>
      <td>30</td>
    </tr>
    <tr>
      <th>7</th>
      <td>red</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>red</td>
      <td>74</td>
    </tr>
    <tr>
      <th>9</th>
      <td>red</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>blue</td>
      <td>41</td>
    </tr>
    <tr>
      <th>11</th>
      <td>blue</td>
      <td>37</td>
    </tr>
    <tr>
      <th>12</th>
      <td>blue</td>
      <td>17</td>
    </tr>
    <tr>
      <th>13</th>
      <td>blue</td>
      <td>12</td>
    </tr>
    <tr>
      <th>14</th>
      <td>blue</td>
      <td>55</td>
    </tr>
    <tr>
      <th>15</th>
      <td>blue</td>
      <td>89</td>
    </tr>
    <tr>
      <th>16</th>
      <td>blue</td>
      <td>63</td>
    </tr>
    <tr>
      <th>17</th>
      <td>blue</td>
      <td>34</td>
    </tr>
    <tr>
      <th>18</th>
      <td>blue</td>
      <td>73</td>
    </tr>
    <tr>
      <th>19</th>
      <td>blue</td>
      <td>79</td>
    </tr>
  </tbody>
</table>
</div>

In [59]:
# (1) np.digitize(data, bins)를 이용한 
#     연속형 변수의 이산형화 (discretization)

# making 10 bins
bins = np.linspace(100, df.score.min(), 9, endpoint=False)
bins

array([ 100.,   89.,   78.,   67.,   56.,   45.,   34.,   23.,   12.])

In [60]:
# making digitized column using np.digitize(data, bins)
df["grade"] = np.digitize(df.score, bins)
df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>group</th>
      <th>score</th>
      <th>grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>red</td>
      <td>10</td>
      <td>9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>red</td>
      <td>16</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>red</td>
      <td>65</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>red</td>
      <td>29</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>red</td>
      <td>90</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>red</td>
      <td>94</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>red</td>
      <td>30</td>
      <td>7</td>
    </tr>
    <tr>
      <th>7</th>
      <td>red</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>red</td>
      <td>74</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>red</td>
      <td>1</td>
      <td>9</td>
    </tr>
    <tr>
      <th>10</th>
      <td>blue</td>
      <td>41</td>
      <td>6</td>
    </tr>
    <tr>
      <th>11</th>
      <td>blue</td>
      <td>37</td>
      <td>6</td>
    </tr>
    <tr>
      <th>12</th>
      <td>blue</td>
      <td>17</td>
      <td>8</td>
    </tr>
    <tr>
      <th>13</th>
      <td>blue</td>
      <td>12</td>
      <td>8</td>
    </tr>
    <tr>
      <th>14</th>
      <td>blue</td>
      <td>55</td>
      <td>5</td>
    </tr>
    <tr>
      <th>15</th>
      <td>blue</td>
      <td>89</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>blue</td>
      <td>63</td>
      <td>4</td>
    </tr>
    <tr>
      <th>17</th>
      <td>blue</td>
      <td>34</td>
      <td>6</td>
    </tr>
    <tr>
      <th>18</th>
      <td>blue</td>
      <td>73</td>
      <td>3</td>
    </tr>
    <tr>
      <th>19</th>
      <td>blue</td>
      <td>79</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [61]:
# aggregation with groupby()
# 등급별 인원수 세기
print(df.groupby("grade")["score"].count())
print(df.groupby("grade")["score"].size())

grade
1    3
2    1
3    2
4    2
5    1
6    3
7    2
8    3
9    3
Name: score, dtype: int64
grade
1    3
2    1
3    2
4    2
5    1
6    3
7    2
8    3
9    3
Name: score, dtype: int64

In [62]:
# mean by grade group
# 등급별 평균
df.groupby("grade")["score"].mean()

grade
1    91.000000
2    79.000000
3    73.500000
4    64.000000
5    55.000000
6    37.333333
7    29.500000
8    15.000000
9     6.666667
Name: score, dtype: float64

In [63]:
# std by grade group
df.groupby("grade")["score"].std()

grade
1    2.645751
2         NaN
3    0.707107
4    1.414214
5         NaN
6    3.511885
7    0.707107
8    2.645751
9    4.932883
Name: score, dtype: float64

In [64]:
# 그룹별 등급 빈도수 확인
df.groupby("group")["grade"].value_counts(sort=False)

group  grade
blue   1        1
       2        1
       3        1
       4        1
       5        1
       6        3
       8        2
red    1        2
       3        1
       4        1
       7        2
       8        1
       9        3
Name: grade, dtype: int64

In [66]:
# 그룹별 점수 평균
df.groupby("group")["score"].mean()

group
blue    50.0
red     41.8
Name: score, dtype: float64

In [68]:
# indexing
# 1등급인 학생 데이터 확인
df[df["grade"]==1]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>group</th>
      <th>score</th>
      <th>grade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>red</td>
      <td>90</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>red</td>
      <td>94</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>blue</td>
      <td>89</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# pd.get_dummies() 를 이용해 가변수(dummy var) 만들기
# prefix : 접두사 추가
# drop_first=True : 가변수의 첫번째 변수 자동 삭제. 
#                   dummy trap을 피할 수 있게 해준다

In [71]:
# get dummy variables with prefix from a categorical variable
pd.get_dummies(df["grade"], prefix="grade")

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>grade_1</th>
      <th>grade_2</th>
      <th>grade_3</th>
      <th>grade_4</th>
      <th>grade_5</th>
      <th>grade_6</th>
      <th>grade_7</th>
      <th>grade_8</th>
      <th>grade_9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [70]:
# drop_first : Whether to get k-1 dummies out of k categorical levels
#              by removing the first level to avoid dummy trap

pd.get_dummies(df["grade"], prefix="grade", drop_first=True)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>grade_2</th>
      <th>grade_3</th>
      <th>grade_4</th>
      <th>grade_5</th>
      <th>grade_6</th>
      <th>grade_7</th>
      <th>grade_8</th>
      <th>grade_9</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [105]:
# np.where(condition, factor1, factor2, ...)를 
# 이용한 연속형 변수의 이산형화


# ex) 성적  등급
#     ~90    A
#     ~80    B
#     ~70    C
#     ~60    D
#     <60    F

df["grade2"] = np.where(df["score"]>=90, "A", 
                        (np.where(df["score"]>=80, "B",
                        (np.where(df["score"]>=70, "C",
                        (np.where(df["score"]>=60, "D", "F")))))))

df.sort_values("score", ascending=False)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>group</th>
      <th>score</th>
      <th>grade</th>
      <th>grade2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>red</td>
      <td>94</td>
      <td>1</td>
      <td>A</td>
    </tr>
    <tr>
      <th>4</th>
      <td>red</td>
      <td>90</td>
      <td>1</td>
      <td>A</td>
    </tr>
    <tr>
      <th>15</th>
      <td>blue</td>
      <td>89</td>
      <td>1</td>
      <td>B</td>
    </tr>
    <tr>
      <th>19</th>
      <td>blue</td>
      <td>79</td>
      <td>2</td>
      <td>C</td>
    </tr>
    <tr>
      <th>8</th>
      <td>red</td>
      <td>74</td>
      <td>3</td>
      <td>C</td>
    </tr>
    <tr>
      <th>18</th>
      <td>blue</td>
      <td>73</td>
      <td>3</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>red</td>
      <td>65</td>
      <td>4</td>
      <td>D</td>
    </tr>
    <tr>
      <th>16</th>
      <td>blue</td>
      <td>63</td>
      <td>4</td>
      <td>D</td>
    </tr>
    <tr>
      <th>14</th>
      <td>blue</td>
      <td>55</td>
      <td>5</td>
      <td>F</td>
    </tr>
    <tr>
      <th>10</th>
      <td>blue</td>
      <td>41</td>
      <td>6</td>
      <td>F</td>
    </tr>
    <tr>
      <th>11</th>
      <td>blue</td>
      <td>37</td>
      <td>6</td>
      <td>F</td>
    </tr>
    <tr>
      <th>17</th>
      <td>blue</td>
      <td>34</td>
      <td>6</td>
      <td>F</td>
    </tr>
    <tr>
      <th>6</th>
      <td>red</td>
      <td>30</td>
      <td>7</td>
      <td>F</td>
    </tr>
    <tr>
      <th>3</th>
      <td>red</td>
      <td>29</td>
      <td>7</td>
      <td>F</td>
    </tr>
    <tr>
      <th>12</th>
      <td>blue</td>
      <td>17</td>
      <td>8</td>
      <td>F</td>
    </tr>
    <tr>
      <th>1</th>
      <td>red</td>
      <td>16</td>
      <td>8</td>
      <td>F</td>
    </tr>
    <tr>
      <th>13</th>
      <td>blue</td>
      <td>12</td>
      <td>8</td>
      <td>F</td>
    </tr>
    <tr>
      <th>0</th>
      <td>red</td>
      <td>10</td>
      <td>9</td>
      <td>F</td>
    </tr>
    <tr>
      <th>7</th>
      <td>red</td>
      <td>9</td>
      <td>9</td>
      <td>F</td>
    </tr>
    <tr>
      <th>9</th>
      <td>red</td>
      <td>1</td>
      <td>9</td>
      <td>F</td>
    </tr>
  </tbody>
</table>
</div>

In [104]:
# 각 grade2별 빈도수
print(df.groupby("grade2")["score"].size())

# 평균
print(df.groupby("grade2")["score"].mean())

grade2
A     2
B     1
C     3
D     2
F    12
Name: score, dtype: int64
grade2
A    92.000000
B    89.000000
C    75.333333
D    64.000000
F    24.250000
Name: score, dtype: float64